.topbar-wrapper{
    background-color:#333;
    line-height: 40px;
}
.top-bar li{
    float: left;
}
.top-bar a{
    color:#b0b0b0;
    font-size: 12px;
    display: block;
}
.top-bar .line{
    color: #424242;
    font-size: 12px;
    margin: 0 8px;
}
.top-bar a:hover{
    color: white;
}
.services{
    float: left;
}
.app{
    position: relative;
    z-index: 9999;
}
/* li:hover .download,
li:hover .app::after{
    display: block;   
    height: 148px; 
} */
.app:hover.app::after{
    /* display: none; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; 
    bottom: 0;
    width: 0;
    height: 0;
    content: '';
    border: 10px solid transparent;
    border-top: none;
    border-bottom-color: white;
}
.app:hover .download{
    height: 148px; 
}
.download{
    /* display: none; */
    position: absolute;
    width: 124px;
    height: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px gray;
    color: black;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    left: -40px;
    transition: height 0.3s;
}
.download img{
    width: 90px;
    margin: 17px;
}
.user-info{
    float: right;
}
.shop-cart{
    position: relative;
    float: right;
    color: #b0b0b0;
    background-color: #424242;
    margin-left: 26px;
    z-index: 9999;
}
.shop-cart:hover a{
    color: #ff6700;
    background-color: white;
}
.shop-cart a{
    width: 120px;
    text-align: center;
}
.shop-cart i{
    margin-right: 2px;
}
.shop-cart:hover .shop-cart-info{
    height: 100px;
    line-height: 100px;
    box-shadow: 0 0 5px rgb(175, 174, 174);
}
.shop-cart-info{
    width: 316px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    /* height: 80px; */
    position: absolute;
    right: 0;
    top: 40px;
    text-align: center;
    line-height: 80px;
    color: #424242;
    background-color: white;
}
.header-wrapper{
    position: relative;
}
h1{
    position: relative;
    float: left;
    text-indent: -9999px;
    left: 0;
    top: 22px;
    width: 56px;
    height: 56px;
    overflow: hidden;
    /* background-color: yellow; */
}
h1 a{
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    background-image: url(../img/logo-mi2.png);
    background-size: cover;
    transition: left 0.1s;
}
.logo1{
    left: -56px;
}
h1:hover .logo1{
    left: 0;
}
h1:hover .logo2{
    left: 56px;
}
.nav-wrapper{
    float: left;
    margin-left: 8px;
    padding-left: 58px;
    height: 100px;
    line-height: 100px;
}
.nav>li{
    float: left;
    margin-right: 20px;
}
.nav a{
    display: block;
    color: #333;
    font-size: 16px;
}
.nav a:hover{
    color: #ff6700;
}
.all-goods{
    visibility: hidden;
    position: relative;
}
.goods-info{
    position: absolute;
    width: 100%;
    /* height: 228px; */
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    top: 100px;
    left: 0;
    background-color: white;
    z-index: 999;
}
.show-goods:hover ~ .goods-info,
.goods-info:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border: 1px solid rgb(224,224,224);
    height: 228px;
}
.search-wrapper{
    box-sizing: border-box;
    width: 296px;
    height: 100px;
    float: right;
    padding-top: 25px;
}
.search-inp{
    box-sizing: border-box;
    width: 244px;
    height: 50px;
    border: 1px solid rgb(224, 224, 224);
    float: left;
    outline: none;
    padding: 10px;
}
.search-btn{
    box-sizing: border-box;
    width: 52px;
    height: 50px;
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
    color: #616161;
    font-size: 16px;
}
.search-inp:focus,
.search-inp:focus + .search-btn {
    border-color: #ff6700;
}
.search-btn:hover{
    background-color: #ff6700;
    color:white;
}
.left-menu{
    visibility: visible;
    display: block;
    position: absolute;
    left: -122px;
    background-color: rgba(0,0,0,0.6);
    box-sizing: border-box;
    width: 234px;
    height: 460px;
    padding: 20px 0;
    z-index: 999;
}
.left-menu li{
    height: 42px;
    padding: 0 30px;
}
.left-menu li:hover{
    color: white;
    background-color: #ff6700;
}
.left-menu a{
    color: white;
    line-height: 42px;
} 
.left-menu a:hover{
    color: white;
}
.left-menu i{
    float: right;
    line-height: 42px;
}
.banner{
    position: relative;
    height: 460px;
}
.banner li{
    position: absolute;
    height: 100%;
}
.banner img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
.pointer{
    position: absolute;
    right: 35px;
    bottom: 22px;
}
.pointer a{
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    margin-left: 6px;
}
.pointer a:hover,
.pointer a:active{
    background-color: rgb(224, 218, 218);
    border: 2px solid rgba(97, 95, 95, 0.4);
}
.prev-next a{
    position: absolute;
    width: 41px;
    height: 69px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-image: url(../img/icon-slides.png);
}
.prev{
    left: 234px;
    background-position: -84px 0;   
}
.prev-next .prev:hover,
.prev-next .prev:active{
    background-position: 0 0;   
}
.prev-next .next{
    right: 0;
    background-position: -125px 0;   
}
.prev-next .next:hover,
.prev-next .next:active{
    background-position: -42px 0;   
}
.right-box{
    position: fixed;
    width: 26px;
    height: 206px;
    bottom: 60px;
    right: 50%;
    margin-right: -639px;
    background-color: rgb(201, 206, 205);
}
.ads{
    margin-top: 14px;
}
.ads ul,
.ads ul li{
    float: left;
}
.ads .shortcuts{
    width: 228px;
    height: 168px;
    background-color: #5F5750;
    padding-top: 2px;
    padding-left: 6px;
}
.ads .shortcuts a{
    display: block;
    box-sizing: border-box;
    padding-top: 24px;
    width: 75px;
    height: 83px;
    color: #cfccca;
    text-align: center;
    font-size: 12px;
}
.ads .shortcuts i{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.ads .shortcuts li{
    position: relative;
}
.ads .shortcuts li::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 64px;
    height: 1px;
    background-color: #665E57;
}
.ads .shortcuts li::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1px;
    height: 70px;
    background-color: #665E57;
}
.ads-list li{
    width: 316px;
    height: 170px;
    margin-left: 15px;
}
.ads-list li:first-of-type{
    margin-left: 14px;
}
.ads-list img{
    width: 100%;
    height: 100%;
}